body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("images/yann-allegre-8FG9tt8qZ-8-unsplash.jpg"); /* Add your header background image */
  background-size: cover;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slides {
  display: flex;
  scroll-snap-align: center;
}

.slides img {
  max-width: 100%;
  height: auto;
  margin: 0 10px;
}

.additional-content {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}
